* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .parent {
    /* background-color: #fafafaa3; */
    /* border: 1px solid #03038a; */
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    padding: 20px;
  }
  
  a{
    color: black;
    text-decoration: none;
  }
  .icons {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .main {
    color: black;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    gap: 100px;
  }
  .button{
    padding: 15px;
    border-radius: 50px;
    background-color: #3d42cf;
    color: white;
  }
  .button:hover{
    background-color:#03038a;
    cursor: pointer;
  }
  .email{
    border-radius: 50px;
    width: 200px;
    padding: 15px;
  }
  .image1 {
    max-width: 500px;
  }
  .box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  h1 {
    font-size: xxx-large;
  }
 
  
  .tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 25px 50px;
  }
  .tool > p {
    text-align: center;
    max-width: 1000px;
  }
  .three-box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
    cursor: pointer;
  }
  
  .items {
    border-radius: 100px;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    border: 1px solid;
    gap: 25px;
    transition: all 0.35s ease-in-out;
  }
  .items:hover {
    box-shadow: -1px -2px 46px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px -2px 46px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -2px 46px -21px rgba(0, 0, 0, 0.75);
  }
  .btn3 {
    padding: 20px;
    background-color: #283593;
  }
  .btn3:hover {
    background-color: #03038a;
  }
  .foot {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    gap: 50px;
    width: 100%;
    padding: 50px 50px;
  }
  .img1 {
    height: 100px;
  }
  .img2 {
    width: 150px;
  }
  .left-foot {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  
    gap: 15px;
  }
  .left-foot > p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    max-width: 600px;
  }
  
  footer {
    background-color: #fafafa;
    border: 1px double #282a5c;
    text-align: center;
    padding: 10px;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .link {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .box > p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    max-width: 600px;
  }
  
  @media only screen and (max-width: 1000px) {
    .icons {
      display: none;
    }
    .main {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 500px) {
    .image1 {
      max-width: 300px;
    }
    .tool {
      padding: 25px;
    }
    .tool > h1 {
      font-size: 30px;
      line-height: 45px;
      font-weight: 600;
    }
  }
  @media only screen and (max-width: 760px) {
    .main {
      gap: 50px;
    }
    .box {
      align-items: center;
    }
    .box > p {
      text-align: center;
    }
    .three-box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 615px) {
    .foot {
      flex-direction: column;
      text-align: center;
    }
    .three-box {
      grid-template-columns: repeat(1, 1fr);
    }
    .box > h1 {
      font-size: 40px;
      line-height: 45px;
      font-weight: 600;
      text-align: center;
    }
    .box > p {
      font-size: 17px;
      line-height: 20px;
      font-weight: 300;
      text-align: center;
    }
  }